.navbar {
    margin-bottom: unset
}


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: absolute;
    right: 0;
    width: 100%;
    height: 655px;
    /* min-width: 100%;
    min-height: 100%; */
}

.section h4 {
    font-size: 3rem;
}


/* Add some content at the bottom of the video/page */


/* Style the button used to pause/play the video */

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}


/* .section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
} */

.content {
    font-size: 8rem;
    font-family: "Cookie";
    color: #fff;
    padding: 0px;
    z-index: 1;
    opacity: 0.9;
    margin: 0px auto;
    text-align: center;
    margin-top: 250px;
    margin-bottom: auto;
}