<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" media="screen" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Cookie">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bangers|Bungee+Shade|Comfortaa|Farsan|Faster+One|Finger+Paint|Fredoka+One|Lobster|Pacifico|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>



</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Tour4teen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">


                    <li>

                        <a href="#">Home</a>
                    </li>

                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tour make</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <!-- videooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <!-- The video -->

    <video autoplay muted loop id="myVideo">
        <source src="video/videoplayback (1).mp4" type="video/mp4">
      </video>
    <!-- Optional: some overlay text to describe the video -->
    <section class="section ">
        <div class="content">
            <h1>Welcome to Tour4Teen</h1>
            <h4>Let's explore Viet Nam and enjoy meaningful moments !</h4>
            <a href="" class="btn btn-info">Info</a>
        </div>
    </section>
    <!-- 
    serviceeeeeeeeeeeeeeeeeeeeeeeeeee -->

    <div class="container">
        <div class="row">
            <h2 class="service">
                Những món quà từ Tour4teen !!!

        </div>

        </h2>
    </div>
    </div>


    <div class="container fixDisplay">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/s1_icon.png" alt="">
                <h1>fbdbbfd</h1>
                <p>dgbdgb</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/s2_icon.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/s3_icon.png" alt="">
            </div>
        </div>

    </div>






</body>

</html>